:root {
    --color-red: #cc0000;
    --color-blue: #0566ff;
    --color-orange: #ff4500;
    --color-white: #c1c1c1;
    --color-yellow: #ddaa00;
    --color-back: #151515;

    --color-yellow-second: #ac8400;
}