footer {
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.footer div {
    padding: 10px;
    border-top: .65px solid #242424;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer ul li {
    list-style: none;
}
@media (max-width: 700px) {
    .footer div {
        flex-direction: column;
        margin-left: 0%;
        width: 100%;
        
    }
}